<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Frodo</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Frodo</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">
					
					Weapon: chestnuts<br>
					Inventory: , Phial of Galadriel, Elven cloak, the Ring, Sting, Dwarven mail<br><br>
					<p>Hobbit which became the Ring-bearer by the twist of fate.</p>

          <br>
					
					<h4>Journey begins</h4>
					
					<div>
					September 22, 3001<br>
					<p>Old man Bilbo made a wonderful party on his 111 birthday. Then he just disappeared from stage during his speech. Nobody understand what happens. And nobody see Bilbo in Shire anymore. He give all his things to me including strange ring which he never left before.</p>
					</div>
					<br>
					<div>
					September 23, 3001<br>
					<p>Usually I carry the Bilbo&#39;s Ring but don&#39;t use it. Generally life goes further. Gandalf goes away somewhere.</p>
					</div>
					<br>
					<div>
					April 4, 3018<br>
					<p>I went home and found agitated Gandalf. He asked me to get Bilbo&#39;s ring and throw it to the fire. I was surprised but the Ring was cold and there were some strange letters. Gandalf said the only one Ring has such properties - the Sauron Ring. And now Sauron is not dead. He is growing in strength and search for the Ring. He sended black knights for me and I need to run. Sam listened our talk so Gandalf sended Sam with me. We go to Bree. Gandalf will meet us there.</p>
					</div>
					<br>
					<div>
					April 17, 3018<br>
					<p>Pippin and Merry run away from angry farmer by the field and suddenly meet us. We run with them. I don&#39;t think farmer will examine who is not guilty. We escaped from farmer and found the road and suddenly feel cold. We hide nearby and at this moment see the black rider. I told that there are several riders which search me and we go to Bree. Merry and Pippin joined to our company.</p>
					</div>
					<br>
					<div>
					September 30, 3018<br>
					<p>We came to the Prancing Pony. There was no Gangalf. We didn&#39;t know what to do and decided to stay overnight. Suddenly I felt irresistible desire to bear the Ring and did it. The world loose all colours. There were only shadows instead people. And among everything the big fire eye look at me. Horror stricken I slipped the ring off finger. Nobody looked at me. Thats why I think everything is good but suddenly human grabbed me and take away to internal rooms. It was a Strider a Gandalf&#39;s friend. He met us. He was very angry at me that I bering the ring. Sauron has eyes and ears everywhere. My friends tried to save me from Strider but I explain them he is a friend. Strider said it is dangerous to stay overnight in the Prancing Pony so he lead us to other longing.</p>
					</div>
					<br>
					<div>
					October 1, 3018<br>
					<p>We heard strange sounds and screams from the Prancing Pony. In the morning hobbits room was upside down and beds were pierced with swords. I&#39;m very scared but we need to go. The Ring is my burden. Nobody can do this except me.</p>
					</div>
					<br>
					<div>
					October 4, 3018<br>
					<p>Strider went to patrol. Suddenly nazguls surrounded us. We tried to fight but they just throw us. They wounded me and finally Strider came back. Strider drove out nazguls. He tended to wound but suddenly we saw elven woman. So Rivendell was not far away. She took me to Rivendell.</p>
					</div>
					<br>
					<div>
					October 20, 3018<br>
					<p>I didn&#39;t remember how I came to Rivendell. I came to life already here. All my followers are in Rivendell too.</p>
					</div>
					<br>
					<div>
					December 24, 3018<br>
					<p>I visited Bilbo in Rivendell. He is looking very old now. Bilbo gave me his sword and mail - magic items. I don&#39;t want to try them in action but it is better to have it. Bilbo asked to to show the Ring and suddenly became angry when I refused. He changed so quickly and became quiet again in a second. Now I know how what is the Ring stamp on the Ring-bearer which holds it too much time.</p>
					</div>
					<br>
				
					<h4>The fellowship of the Ring</h4>
					
					<div>
					3018/10/25 17:00<br>
					<p>Council discuss the problem of destroying the Ring. Ring can be destroyed only in the Mount Doom. Nobody can do it. Frodo takes this task. Aragorn, Legolas, Gimli, Boromir, Gandalf and his Shire friends follow him. The fellowship of the Ring is created.</p>
					</div>
					<br>
					<div>
					3019/01/08 13:00<br>
					<p>First way is closed by Sauron patrols.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Saruman&#39;s magic blocks the mountain way.</p>
					</div>
					<br>
					<div>
					3019/01/13 18:00<br>
					<p>The fellowship goes to Moria. They awaken Watcher in the Water which destroys Moria&#39;s gate after fellowship come in. Inside fellowship find dead bodies and understand Moria is controlled by orcs.</p>
					</div>
					<br>
					<div>
					3019/01/14 21:00<br>
					<p>Gandalf shows Gollum to Frodo and tells that Gollum walk with them for a long time.</p>
					<p>Pippin accidentally drop bucket to well near Balin&#39;s grave. This sound awakes orcs and Balrog.</p>
					</div>
					<br>
					<div>
					3019/01/15 16:00<br>
					<p>Gandalf defends the bridge from Balrog. Balrog breaks the bridge and fall down with Gandalf. The rest of fellowship goes away from Moria and go deep in Galadriel&#39;s Lorien.</p>
					</div>
					<br>
					<div>
					3019/02/14 21:30<br>
					<p>Galadriel shows Frodo the future in the magic mirror.</p>
					</div>
					<br>
					<div>
					3019/02/16 12:00<br>
					<p>Lorien elves give supplies to the fellowship help to go further.</p>
					</div>
					<br>
					<div>
					3019/02/25 16:00<br>
					<p>Fellowship make stop near waterfall.</p>
					</div>
					<br>
					<div>
					3019/02/26 17:20<br>
					<p>Boromir tries to take the Ring from Frodo. At this moment Uruk-hai found them. They kill Boromir, take Merry and Pippin and run away to Saruman. Frodo decides to go alone but Sam goes with him. The rest of fellowship bury Boromir and run for Uruk-hai detachment.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	