<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Roles list</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Aragorn.html"><h3 class="panel-title"><b>Aragorn</b> (Reserved, Micheal)</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Aragorn.jpg" style="height: 100px;">
          <div class="text">The last strider&#39;s leader and the first king of joined kingdoms, direct descent of Elendil&#39;s royal blood (by Isildur line).
Aragorn became the greatest human of his age. He leaded the people of west against Sauron forces. He helped to destroy the One Ring (he was one of the ring fellowship). He joined Arnor and Gondor kingdoms.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Arwen.html"><h3 class="panel-title"><b>Arwen</b> (Reserved, Jade)</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Arwen.jpg" style="height: 100px;">
          <div class="text">Elrond&#39;s daughter. Galadriel&#39;s granddaughter.

          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Bilbo.html"><h3 class="panel-title"><b>Bilbo</b> (In discussion, Jack)</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Frodo&#39;s uncle.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Boromir.html"><h3 class="panel-title"><b>Boromir</b> (In discussion, Peter)</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">The eldest son and successor of Steward of Gondor - Denethor the second and his wife Finduilas. He is a Faramir&#39;s brother.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Elrond.html"><h3 class="panel-title"><b>Elrond</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Elrond is a son of Eärendil and Elwing. Elrond was Lord of Rivendell, one of the mighty rulers of old that remained in Middle-earth in its Third Age. 
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Frodo.html"><h3 class="panel-title"><b>Frodo</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Hobbit which became the Ring-bearer by the twist of fate.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Galadriel.html"><h3 class="panel-title"><b>Galadriel</b> (Reserved, Anna)</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">The mightiest elven ruler in the Middle-earth after the War of Wrath. She is the ruler of Lothlórien. 
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Gandalf.html"><h3 class="panel-title"><b>Gandalf</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Mighty wizard.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Gimli.html"><h3 class="panel-title"><b>Gimli</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">He is dwarf joined to war against Sauron.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Gollum.html"><h3 class="panel-title"><b>Gollum</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">A small, slimy creature who lived on a small island in the centre of an underground lake at the roots of the Misty Mountains. He survived on cave fish, which he caught from his small boat, and small goblins who strayed too far from the stronghold of the Great Goblin. Over the years, his eyes adapted to the dark and became &quot;lamp-like&quot;, shining with a sickly pale light.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Legolas.html"><h3 class="panel-title"><b>Legolas</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Legolas was the son of Thranduil, King of the Woodland Realm of Northern Mirkwood.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Merry.html"><h3 class="panel-title"><b>Merry</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Frodo&#39;s friend. The fellow of the ring.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Nazgul.html"><h3 class="panel-title"><b>Nazgul</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">They were nine men who succumbed to Sauron&#39;s power and attained near-immortality as wraiths, servants bound to the power of the One Ring and completely under the dominion of Sauron.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Pippin.html"><h3 class="panel-title"><b>Pippin</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Frodo&#39;s friend. The fellow of the ring.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Sam.html"><h3 class="panel-title"><b>Sam</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">Gardener, servant and friend of Frodo.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Saruman.html"><h3 class="panel-title"><b>Saruman</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">He is leader of the Istari, wizards sent to Middle-earth in human form by the godlike Valar to challenge Sauron.
          <br>

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="Sauron.html"><h3 class="panel-title"><b>Sauron</b> (Open, )</h3></a>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">He is described as the chief lieutenant of the first Dark Lord, Morgoth.
          <br>

          </div>
        </div>
      </div>
    </div>
    
		
	</div>
</div>
</body>
</html>