<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Saruman</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Saruman</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">
					
					Weapon: staff, magic<br>
					Inventory: palantir, <br><br>
					<p>He is leader of the Istari, wizards sent to Middle-earth in human form by the godlike Valar to challenge Sauron.</p>

          <br>
					
					<h4>Journey begins</h4>
					
					<div>
					July 10, 3018<br>
					<p>I see infinite darkness in palantir and I see this is my way. Gandalf&#39;s visit was not surprise. The overlord ordered to join Gandalf to us. But Gandalf find how to run away. So much the worse for him.</p>
					</div>
					<br>
				
					<h4>Saruman&#39;s story</h4>
					
					<div>
					3018/07/13 18:00<br>
					<p>Saruman creates orcs and gives order to destroy grove nearby Orthanc. Also he creates Uruk-hais.</p>
					</div>
					<br>
				
					<h4>The fellowship of the Ring</h4>
					
					<div>
					3019/01/08 13:00<br>
					<p>First way is closed by Sauron patrols.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Saruman&#39;s magic blocks the mountain way.</p>
					</div>
					<br>
					<div>
					3019/01/10 00:00<br>
					<p>Saruman sends Uruk-hai to catch the Ring-bearer.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	