<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Инвентарь</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
						<td><b>Арагорн</b></td>
						<td>; брошь Арвен, ножны, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Арвен</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Бильбо</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Боромир</b></td>
						<td>Рог Гондора; золотой пояс, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Галадриэль</b></td>
						<td>кольцо Нэнью; </td>
						</tr>
						<tr>
						<td><b>Гендальф</b></td>
						<td>кольцо Нарья; </td>
						</tr>
						<tr>
						<td><b>Гимли</b></td>
						<td>; прядь волос Галадриэли, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Голлум</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Леголас</b></td>
						<td>; лук и колчан стрел, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Мерри</b></td>
						<td>; серебряные пояс, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Назгул</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Народ Гондора</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Народ Рохана</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Пиппин</b></td>
						<td>; серебряные пояс, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Саруман</b></td>
						<td>палантир; </td>
						</tr>
						<tr>
						<td><b>Саурон</b></td>
						<td>палантир; </td>
						</tr>
						<tr>
						<td><b>Сэм</b></td>
						<td>Кастрюли; шкатулка благословленной земли, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Фродо</b></td>
						<td>; кольцо, жало, мифриловая кольчуга, фиал, плащ с брошью</td>
						</tr>
						<tr>
						<td><b>Элронд</b></td>
						<td>кольцо Вилью; </td>
						</tr>
					</tbody>
				</table>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>