<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Арвен</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Арвен</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Арвен.jpg" style="height: 100px;">
          <div class="text">
					
					Оружие: <br>
					Инвентарь: , <br><br>
					<p>Дочь Элронда, внучка Галадриэль.</p>

          <br>
					
					<h4>Арвен и Арагорн</h4>
					
					<div>
					3018/10/25 02:00<br>
					<p>Арвен и Арагорн. Арвен дает Арагорну свою брошь.</p>
					</div>
					<br>
				
					<h4>Начало пути</h4>
					
					<div>
					4 октября 3018<br>
					<p>Я почуствовала холод и боль в далеке и примчалась в это место. Бродяжник только отбил нападение назгулов, а хранитель кольца был ранен. Вся надежда на моего коня. Успеть бы доскакать</p>
					</div>
					<br>
					<div>
					20 октября 3018<br>
					<p>Я забрала Фродо с собой и мы с большим трудом успели перейти реку на границе Ривендела. Черные всадники осмелились вступить в воду и река смела их. В ближайшее время они не побеспокоят Фродо. Отец вылечил Фродо, но раны нанесенные призрачным клинком не могут быть вылечены полностью никогда.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	