<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Боромир</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Боромир</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Вопрос.jpg" style="height: 100px;">
          <div class="text">
					
					Оружие: меч, лук<br>
					Инвентарь: Рог Гондора, золотой пояс, плащ с брошью<br><br>
					<p>Старший сын и наследник наместника Гондора Дэнетора II и его жены Финдуилас, брат Фарамира.</p>

          <br>
					
					<h4>Братство кольца</h4>
					
					<div>
					3018/10/25 17:00<br>
					<p>На совете обозначена проблема уничтожения кольца. Кольцо необходимо бросить в Ородруин, но никто не в силе взять на себя эту ношу. Фродо вызывается сделать это. Проводить его берутся Арагорн, Леголас, Гимли, Боромир, Гендальф и его друзья из Шира. Так появляется братство кольца.</p>
					</div>
					<br>
					<div>
					3019/01/08 13:00<br>
					<p>Первая дорога перекрыта патрулями Саурона.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Магия Сарумана не дает братству пройти через снежные перевалы в горах.</p>
					</div>
					<br>
					<div>
					3019/01/13 18:00<br>
					<p>Братство спускается в Морию. При входе они пробуждают кракена, который рушит врата Мории, как только они в нее заходят. Тут же они находят тела гномов и понимают, что Мория захвачена орками.</p>
					</div>
					<br>
					<div>
					3019/01/14 21:00<br>
					<p>Гендальф показывает Фродо Голлума и говорит, что он давно идет за ними.</p>
					<p>Пипин роняет ведро в колодец у могилы Балина, тем самым выдавая себя оркам. Принимают бой. Приходит Балрог.</p>
					</div>
					<br>
					<div>
					3019/01/15 16:00<br>
					<p>Гендальф остается защищать мост от Балрога и падает в пропасть вместе с ним. Все остальные выходят из Мории и попадают в Лотлориен к Галадриэли.</p>
					</div>
					<br>
					<div>
					3019/02/16 12:00<br>
					<p>Братству кольца помогают припасами и пропускают через Лотлориен. Нимбос, фиал, накидки.</p>
					</div>
					<br>
					<div>
					3019/02/25 16:00<br>
					<p>Братство останавливается перед водопадом.</p>
					</div>
					<br>
					<div>
					3019/02/26 17:20<br>
					<p>Боромир пытается отнять у Фродо кольцо. В этот момент на них нападают Урук-Хаи, убивают Боромира, хватают Мерри и Пипина и убегают к Саруману. Фродо решает идти дальше в одиночку, но Сэм не отстает. Остальные хоронят Боромира и отправляются в погоню за отрядом Урук-Хаев.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	