<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Пиппин</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Пиппин</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Вопрос.jpg" style="height: 100px;">
          <div class="text">
					
					Оружие: каштаны<br>
					Инвентарь: , серебряные пояс, плащ с брошью<br><br>
					<p>Друг Фродо, взятый в поход за компанию.</p>

          <br>
					
					<h4>Братство кольца</h4>
					
					<div>
					3018/10/25 17:00<br>
					<p>На совете обозначена проблема уничтожения кольца. Кольцо необходимо бросить в Ородруин, но никто не в силе взять на себя эту ношу. Фродо вызывается сделать это. Проводить его берутся Арагорн, Леголас, Гимли, Боромир, Гендальф и его друзья из Шира. Так появляется братство кольца.</p>
					</div>
					<br>
					<div>
					3019/01/08 13:00<br>
					<p>Первая дорога перекрыта патрулями Саурона.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Магия Сарумана не дает братству пройти через снежные перевалы в горах.</p>
					</div>
					<br>
					<div>
					3019/01/13 18:00<br>
					<p>Братство спускается в Морию. При входе они пробуждают кракена, который рушит врата Мории, как только они в нее заходят. Тут же они находят тела гномов и понимают, что Мория захвачена орками.</p>
					</div>
					<br>
					<div>
					3019/01/14 21:00<br>
					<p>Гендальф показывает Фродо Голлума и говорит, что он давно идет за ними.</p>
					<p>Пипин роняет ведро в колодец у могилы Балина, тем самым выдавая себя оркам. Принимают бой. Приходит Балрог.</p>
					</div>
					<br>
					<div>
					3019/01/15 16:00<br>
					<p>Гендальф остается защищать мост от Балрога и падает в пропасть вместе с ним. Все остальные выходят из Мории и попадают в Лотлориен к Галадриэли.</p>
					</div>
					<br>
					<div>
					3019/02/16 12:00<br>
					<p>Братству кольца помогают припасами и пропускают через Лотлориен. Нимбос, фиал, накидки.</p>
					</div>
					<br>
					<div>
					3019/02/25 16:00<br>
					<p>Братство останавливается перед водопадом.</p>
					</div>
					<br>
					<div>
					3019/02/26 17:20<br>
					<p>Боромир пытается отнять у Фродо кольцо. В этот момент на них нападают Урук-Хаи, убивают Боромира, хватают Мерри и Пипина и убегают к Саруману. Фродо решает идти дальше в одиночку, но Сэм не отстает. Остальные хоронят Боромира и отправляются в погоню за отрядом Урук-Хаев.</p>
					</div>
					<br>
				
					<h4>Начало пути</h4>
					
					<div>
					22 сентября 3001<br>
					<p>Старик Бильбо закатил отличный праздник поводу своего 111 летия. А потом просто исчез на глазах у всех прямо со сцены. Никто ничего не понял, но больше никто не видел Бильбо в Шире, а Торба-на-Круче досталась Фродо.</p>
					</div>
					<br>
					<div>
					17 апреля 3018<br>
					<p>Я и Мерри убегали от разозленного фермера по полю, когда случайно наткнулись на Сэма и Фродо. Им пришлось бежать вместе с нами, не думаю что фермер стал бы разбираться кто был не виноват. Убежав от фермера мы вышли на дорогу и вдруг почуствовали холод. Мы спрятались и в этот момент на дороге показался черный всадник. Фродо рассказал, что всадников несколько и они преследуют его и что ему позарез нужно в Бри. Мы пошли с Фродо и Сэмом.</p>
					</div>
					<br>
					<div>
					30 сентября 3018<br>
					<p>Мы пришли в Бри в Гарцующий пони. Гендальфа не было. Мы не знали что делать и решили остаться на ночлег. Вдруг Фродо стало плохо и он исчез точно так же как Бильбо на своем дне рождения. Мы не поняли что произошло, мы искали Фродо и не могли найти. Вдруг мы увидели как человек утаскивает Фродо. Мы пошли за ним, собирались драться. Оказалось, что это Бродяжник, друг Гендальфа, который будет охранять нас. Бродяжник сказал, что в Гарцующем пони останавливаться опасно и отвел нас на другой ночлег.</p>
					</div>
					<br>
					<div>
					1 октября 3018<br>
					<p>Ночью из Гарцующего пони доносились странные звуки и вопли, как в последствии оказалось комната хоббитов была вверхдном, а кровати проткнуты мечами. Мне страшно, но я должен идти с Фродо, ему угрожает большая опасность.</p>
					</div>
					<br>
					<div>
					4 октября 3018<br>
					<p>Бродяжник ушёл в дозор. Неожиданно нас окружили назгулы. Мы пытались драться, но они просто раскидали нас. Они ранили Фродо и наконец вернулся бродяжник. Бродяжник отбил нападение. Он попытался как-то обработать рану Фродо, как вдруг появилась эльфийка. Значит недалеко Ривендел. Она забрала Фродо с собой. Надеюсь, что с Фродо все будет хорошо.</p>
					</div>
					<br>
					<div>
					20 октября 3018<br>
					<p>Мы отправились вслед за Фродо и Арвен в Ривендел так быстро как могли. К счастью они успели, а тела лошадей черных всадников были найдены ниже по течению. Какое-то время они нас не побеспокоят. Нам дали кров. Здесь же был Гендальф. Элронд вылечит Фродо, а пока будем ждать когда Фродо поправится.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	