<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Саруман</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Саруман</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Вопрос.jpg" style="height: 100px;">
          <div class="text">
					
					Оружие: посох, магия<br>
					Инвентарь: палантир, <br><br>
					<p>Могущественнейший маг Ордена Истари, глава Белого совета. </p>

          <br>
					
					<h4>Братство кольца</h4>
					
					<div>
					3019/01/08 13:00<br>
					<p>Первая дорога перекрыта патрулями Саурона.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Магия Сарумана не дает братству пройти через снежные перевалы в горах.</p>
					</div>
					<br>
					<div>
					3019/01/10 00:00<br>
					<p>Саруман отправляет отряд Урук-Хаев в погоню за хранителем кольца.</p>
					</div>
					<br>
				
					<h4>История Сарумана</h4>
					
					<div>
					3018/07/13 18:00<br>
					<p>Саруман начинает культивировать орков и дает приказ уничтожить рощу вокруг Ортханка. Так же он выводит Урук-Хаев.</p>
					</div>
					<br>
				
					<h4>Начало пути</h4>
					
					<div>
					10 июля 3018<br>
					<p>Я узрел вечную тьму в палантире и понял, что это мой путь. Визит Гендальфа не был неожиданностью. Повелитель тьмы велел заставить Гендальфа прикмнуть к нам, но он смог сбежать. Тем хуже для него.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	