<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Властелин колец. Саурон</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Саурон</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Вопрос.jpg" style="height: 100px;">
          <div class="text">
					
					Оружие: <br>
					Инвентарь: палантир, <br><br>
					<p>Низший дух из свиты Вала Аулэ. Саурон был одним из первых Майар, которые приняли сторону Мелькора, став одним из самых лояльных и самых ужасных его сподвижников, но после Войны Гнева и поражения своего господина Саурон возвысился до величайшего врага Свободных народов Средиземья на протяжении Второй и Третьей эпох.</p>

          <br>
					
					<h4>История Сарумана</h4>
					
					<div>
					3018/07/13 18:00<br>
					<p>Саруман начинает культивировать орков и дает приказ уничтожить рощу вокруг Ортханка. Так же он выводит Урук-Хаев.</p>
					</div>
					<br>
				
					<h4>Начало пути</h4>
					
					<div>
					2 марта 3018<br>
					<p>От этой твари я узнал нынешнего владельца кольца, это какой-то хоббит из Шира и отправил за ним назгулов. Кстати, кто такие эти хоббиты?</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	