<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Inventory</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
						<td><b>Aragorn</b></td>
						<td>; Evenstar, sheath, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Arwen</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Bilbo</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Boromir</b></td>
						<td>the Horn of Gondor; golden belt, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Elrond</b></td>
						<td>the Vilya ring; </td>
						</tr>
						<tr>
						<td><b>Frodo</b></td>
						<td>; Phial of Galadriel, Elven cloak, the Ring, Sting, Dwarven mail</td>
						</tr>
						<tr>
						<td><b>Galadriel</b></td>
						<td>the Nenya ring; </td>
						</tr>
						<tr>
						<td><b>Gandalf</b></td>
						<td>the Narya ring; </td>
						</tr>
						<tr>
						<td><b>Gimli</b></td>
						<td>; Three strands of Galadriel&#39;s hair, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Gollum</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Legolas</b></td>
						<td>; Galadhrim bow, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Merry</b></td>
						<td>; silver belt, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Nazgul</b></td>
						<td>; </td>
						</tr>
						<tr>
						<td><b>Pippin</b></td>
						<td>; silver belt, Elven cloak</td>
						</tr>
						<tr>
						<td><b>Sam</b></td>
						<td>Hollow-ware; small grey wooden box, Elven cloak, Elven rope</td>
						</tr>
						<tr>
						<td><b>Saruman</b></td>
						<td>palantir; </td>
						</tr>
						<tr>
						<td><b>Sauron</b></td>
						<td>palantir; </td>
						</tr>
					</tbody>
				</table>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>