<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Arwen</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Arwen</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Arwen.jpg" style="height: 100px;">
          <div class="text">
					
					Weapon: <br>
					Inventory: , <br><br>
					<p>Elrond&#39;s daughter. Galadriel&#39;s granddaughter.</p>
<p></p>

          <br>
					
					<h4>Arwen and Aragorn</h4>
					
					<div>
					3018/10/25 02:00<br>
					<p>Aragorn and Arwen. Arwen gives Aragorn her jeweled pendant - Evenstar.</p>
					</div>
					<br>
				
					<h4>Journey begins</h4>
					
					<div>
					October 4, 3018<br>
					<p>I felt cold and pain and run to this place. Strider just drove nazguls away from hobbits. The ring-bearer was wounded. The only hope was my horse. We rode to Rivendell as far as we can.</p>
					</div>
					<br>
					<div>
					October 20, 3018<br>
					<p>I took Frodo and fortunately we came across the boundary river in time. Black riders tried to go across the river and river sweep them. For some time they will not bother Frodo. Father healed Frodo but nazgul&#39;s wounds can&#39;t be healed completely.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	