<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Gandalf</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Gandalf</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">
					
					Weapon: staff, magic<br>
					Inventory: the Narya ring, <br><br>
					<p>Mighty wizard.</p>

          <br>
					
					<h4>Journey begins</h4>
					
					<div>
					September 22, 3001<br>
					<p>I always know Bilbo is unusual hobbit. I don&#39;t like his last disappearing joke in birthday but he has the heart and energy to go to elves.</p>
					</div>
					<br>
					<div>
					September 23, 3001<br>
					<p>I&#39;m worry about Bilbo&#39;s ring. It has powerful magic and he was so attached to the ring. It was very hard to persuade him to leave the ring to Frodo. I need to know more about this ring.</p>
					</div>
					<br>
					<div>
					April 4, 3018<br>
					<p>In Minas Tirith I found that it can be the Sauron Ring. I went back to Shire. Unfortunately the ring check gives us the answer. There were fire letters on the Ring surface after throwing ring into the fire. I hear stories about black knights near the Shire. I sended Frodo to Bree. I hope I will be there in the same time. I need to have talk with Saruman. Sam heard our talk and I didn&#39;t want to send Frodo alone. I think Frodo needs somebody to remind him about home and resist to the Ring. Sam got a scolding for it. I&#39;m sure he will do task well.</p>
					</div>
					<br>
					<div>
					July 10, 3018<br>
					<p>I came to Saruman to discuss our actions. But as it happens Saruman is on the one side with Sauron. He caught me and lock on the Orthanc roof. Miraculously the eagle saved me. I can&#39;t be in Bree in time.</p>
					</div>
					<br>
					<div>
					October 20, 3018<br>
					<p>Arwen saved Frodo. I will heal him but it take some time. Now we sure black riders can&#39;t find way into Rivendell. Saruman left our side. Orthanc is orcs land now and nobody knows how strong Saruman&#39;s black magic is. Soon we will make the Ring council and decide what we can do.</p>
					</div>
					<br>
				
					<h4>The fellowship of the Ring</h4>
					
					<div>
					3018/10/25 17:00<br>
					<p>Council discuss the problem of destroying the Ring. Ring can be destroyed only in the Mount Doom. Nobody can do it. Frodo takes this task. Aragorn, Legolas, Gimli, Boromir, Gandalf and his Shire friends follow him. The fellowship of the Ring is created.</p>
					</div>
					<br>
					<div>
					3019/01/08 13:00<br>
					<p>First way is closed by Sauron patrols.</p>
					</div>
					<br>
					<div>
					3019/01/12 16:00<br>
					<p>Saruman&#39;s magic blocks the mountain way.</p>
					</div>
					<br>
					<div>
					3019/01/13 18:00<br>
					<p>The fellowship goes to Moria. They awaken Watcher in the Water which destroys Moria&#39;s gate after fellowship come in. Inside fellowship find dead bodies and understand Moria is controlled by orcs.</p>
					</div>
					<br>
					<div>
					3019/01/14 21:00<br>
					<p>Gandalf shows Gollum to Frodo and tells that Gollum walk with them for a long time.</p>
					<p>Pippin accidentally drop bucket to well near Balin&#39;s grave. This sound awakes orcs and Balrog.</p>
					</div>
					<br>
					<div>
					3019/01/15 16:00<br>
					<p>Gandalf defends the bridge from Balrog. Balrog breaks the bridge and fall down with Gandalf. The rest of fellowship goes away from Moria and go deep in Galadriel&#39;s Lorien.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	