<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Lord of the Rings. Sauron</title>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='libs/unitegallery/js/unitegallery.min.js'></script> 

<link rel='stylesheet' href='libs/unitegallery/css/unite-gallery.css' type='text/css' /> 
<script type='text/javascript' src='libs/unitegallery/themes/default/ug-theme-default.js'></script> 
<link rel='stylesheet' href='libs/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 


<link rel="stylesheet" href="libs/photoswipe.css"> 
<link rel="stylesheet" href="libs/default-skin/default-skin.css"> 
<script src="libs/photoswipe.min.js"></script> 
<script src="libs/photoswipe-ui-default.min.js"></script> 

<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"  media="screen" />
<link rel="stylesheet" type="text/css" href="style/style.css"  media="screen" />

</head>
<body>

<div id="root">

  <div id="content">
	
		
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Sauron</b></h3>
      </div>
      <div class="panel-body">
        <div class="programContent">
          <img align="left" src="images2/Question.jpg" style="height: 100px;">
          <div class="text">
					
					Weapon: <br>
					Inventory: palantir, <br><br>
					<p>He is described as the chief lieutenant of the first Dark Lord, Morgoth.</p>

          <br>
					
					<h4>Journey begins</h4>
					
					<div>
					March 2, 3018<br>
					<p>This beast tells us about the Ring bearer. This is some hobbit from Shire so I send nazguls to find him. By the way, who are hobbits?</p>
					</div>
					<br>
				
					<h4>Saruman&#39;s story</h4>
					
					<div>
					3018/07/13 18:00<br>
					<p>Saruman creates orcs and gives order to destroy grove nearby Orthanc. Also he creates Uruk-hais.</p>
					</div>
					<br>
				

          </div>
        </div>
      </div>
    </div>
		
    
		
	</div>
</div>
</body>
</html>
	